<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts  :: page_head('Products - Shopme Admin')"></head>

<body>
	<div class="container-fluid">
		<div th:replace="layouts :: menu"></div>

		<div th:replace="layouts  :: search_form_and_message('/store/page/1')"></div>

		<form th:action="@{/store/searchbycategory}" method="get">
			<div class="col-sm-8 mr-2">
				<label>Category:</label>
				<select id="id" name="id">
					<option value=1></option>
					<th:block th:each="category : ${categoryList}">
						<option th:value="${category.id}" th:text="${category.categoryName}"></option>
					</th:block>
				</select>
				<input style="background-color:DodgerBlue;" type="submit">
				<input type="hidden" name="pageNum" th:value="${pageNum}" />
			</div>
			<h3 th:if="${categoryName != null}">[[${categoryName}]]</h3>
		</form>



		<div class="full-details">
			<table class="table table-bordered table-striped table-hover table-responsive-xl">
				<thead class="thead-dark">
					<tr>
						<th>ID</th>
						<th>Product Image</th>
						<th th:replace="layouts  :: column_link('/store', 'name', 'Product Name', 'none')" />
						<th> Category </th>
						<th>Description</th>
						<th>Price</th>
						<th>Available</th>
						<th>Add to Cart</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="product : ${listProducts}">
						<td th:text="${product.id}"></td>
						<td>
							<div>
								<img th:src="@{${product.getImagePath}}" style="width: 100px" class="img-fluid" />
							</div>
						</td>
						<td th:text="${product.name}"></td>

						<!--                    TODO: fix this so that if category is null it doesnt crash the progarm
						<td th:if="${product.category.categoryName == null}"></td>
						<td th:if="${product.category.categoryName != null}">[[${product.category.categoryName}]]</td>
						<td th:text="${product.category.categoryName != null} ? ${product.category.categoryName} : ' '"></td>  
-->
						<td th:text="${product.category.categoryName}" />

						<td th:text="${product.description}"></td>

						<td th:text="${product.price}"></td>
						<td>
							<div
								th:replace="layouts  :: status(${product.enabled}, 'product', '/products/' + ${product.id})" />
						</td>
						<td>
							<th:block>
								<div th:replace="layouts :: quantity_control(1, ${product.id})"></div>
								<div class="mt-3">
									<input type="button" value="Add to Cart" id="buttonAdd2Cart"
										class="btn btn-primary" />
								</div>
							</th:block>
						</td>

					</tr>
				</tbody>
			</table>
		</div>
		<div class="less-details">
			<div th:each="product : ${listProducts}" class="row m-1">
				<div class="col-4">
					<img th:src="@{${product.getImagePath}}" style="width: 100px" class="img-fluid" />
				</div>
				<div class="col-8">
					<div>[[${product.name}]]</div>
					<div class="mt-2">
						<div
							th:replace="layouts  :: status(${product.enabled}, 'product', '/products/' + ${product.id})">
						</div>
						<br>
						<th:block>
							<div th:replace="layouts :: quantity_control(1, ${product.id})"></div>


							<div class="mt-3">
								<input type="button" value="Add to Cart" id="buttonAdd2Cart" class="btn btn-primary" />
							</div>
						</th:block>
					</div>
				</div>
				<br>
			</div>
		</div>


		<div th:replace="layouts  :: pagination('/store', 'products')"></div>

		<div th:replace="layouts  :: confirm_modal"></div>
		<div th:replace="layouts  :: modal_dialog"></div>
		<div th:replace="layouts  :: footer"></div>

	</div>

</body>


</html>