<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts :: page_head('Users - Shopme Admin')"></head>
<body>
<div class="container-fluid">
	<div th:replace="layouts :: menu"></div>
	<div>
		<h2>Manage Users</h2>	
		<a th:href="@{/users/new}" class="fas fa-user-plus fa-2x icon-dark mr-2"></a>
	</div>
	
	<div th:replace="layouts :: search_form_and_message('/users/page/1')" />
	
	<div class="full-details">
		<table class="table table-bordered table-striped table-hover table-responsive-xl">
			<thead class="thead-dark">
				<tr>
					<th class="hideable-column">
						<th th:replace="layouts :: column_link('/users', 'id', 'User ID', 'tag')" />
					</th>
					
					<th>Photos</th>
					<th th:replace="layouts :: column_link('/users', 'firstName', 'First Name', 'none')" />
					<th th:replace="layouts :: column_link('/users', 'lastName', 'Last Name', 'none')" />
					<th class="hideable-column">
						<th th:replace="layouts :: column_link('/users', 'email', 'E-mail', 'tag')" />
					</th>
					<th>Roles</th>
					<th th:replace="layouts :: column_link('/users', 'enabled', 'Enabled', 'none')" />
					<th></th>
				</tr>								
			</thead>
			<tbody>
				<tr th:each="user : ${listUsers}">
					<td class="hideable-column">[[${user.id}]]</td>
					<td>
						<div th:replace="layouts :: user_photos" />
					</td>
					<td>[[${user.firstName}]]</td>
					<td>[[${user.lastName}]]</td>
					<td class="hideable-column">[[${user.email}]]</td>
					<td>[[${user.roles}]]</td>
					
					<td>
						<div th:replace="layouts :: status(${user.enabled}, 'user', '/users/' + ${user.id})" />
					</td>
					
					<td>
						<div th:replace="layouts :: edit('user', '/users/edit/' + ${user.id})" />
						&nbsp;&nbsp;
						<div th:replace="layouts :: delete('user', ${user.id}, '/users/delete/' + ${user.id}, true)" />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div class="less-details">
		<div th:each="user : ${listUsers}" class="row m-1">
			<div class="col-4">
				<div th:replace="layouts :: user_photos" />			
			</div>
			<div class="col-8">
				<div>[[${user.fullName}]]</div>
				<div>[[${user.roles}]]</div>
				<div class="mt-2">
					<div th:replace="layouts :: status(${user.enabled}, 'user', '/users/' + ${user.id})" />
					&nbsp; 			
					<div th:replace="layouts :: edit('user', '/users/edit/' + ${user.id})" />
					&nbsp; 
					<div th:replace="layouts :: delete('user', ${user.id}, '/users/delete/' + ${user.id}, true)" />
				</div>
			</div>
			<div>&nbsp;</div>
		</div>
	</div>
	
	<div th:replace="layouts :: pagination('/users', 'users')"></div>
	
	<div th:replace="layouts :: confirm_modal" />
		
	<div th:replace="layouts :: footer"></div>
	
</div>
<script type="text/javascript">
	moduleURL = "[[@{/users}]]";

	$(document).ready(function() {
		$(".link-delete").on("click", function(e) {
			e.preventDefault();
			showDeleteConfirmModal($(this), 'user');
		});
	});
</script>
</body>
</html>