<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf.org.thymeleaf-extras-springsecurity5">

<head th:replace="layouts :: page_head('login-Admin')" />

<body>
	<div class="container-fluid">

		<!-- Navigation bar -->
		<div th:replace="layouts :: menu"></div>

		<!-- logout button -->
		<form th:action="@{/logout}" method="post" th:hidden=true name="logoutForm">
			<input type="submit" />
		</form>

		<!-- footer -->
		<div th:replace="layouts :: footer"></div>

	</div>
</body>

</html>